extends master.pug 
block title 
  title 404
block content 
  div.pg404
    div.message
      p.mess404 Oops! You shouldn't be here! How did you get here?!
    div.img404
      img.image404(src='/public/Images/ScawyPanda.png' alt='404')