extends master.pug 
block title 
  title Home
block content 
  div.aboutMe
    div.aboutmetxt
      h1 About Me
      p.home Hello, I'm Maixiong Yang! 
      p.home I'm a 22 year old programmer and IT enthusiast.
      p.home I enjoy problem-solving, whether with my tech or with fun puzzles.
      p.home You can contact me at maixiong.yang412@gmail.com for more inquries!
    div.aboutmeimg
      img.aboutmeimg(src='/public/Images/me3.jpg' alt='me')
      audio(controls='') 
        source(src='/public/Audio/pronounce.mp3', type='audio/mpeg')
