extends master.pug 
block title 
  title Home
block content 
  div.certifications
    div.certtxt
      h1 Certifications
      h2 Looking at:
      h2 In Progress:
      p.home Comptia A+
      h2 Completed:
