extends master.pug 
block title 
  title Home
block content 
  div.education
    div.educationtxt
      h1 Education
      p.home I'm an undergraduate at the University of Minnesota Twin Cities.
      p.home There, I majored in Computer Science and graduated in December of 2024.