mixin navi()
  div.navibar#navibar
    div.navibutton
      img.navbutt(onclick='' src='/public/Images/RedPanda.png' alt='redbutton')
    div.naviblock
      a.navlink(href='/Home') Home
    div.naviblock
      a.navlink(href='/AboutMe') About Me
    div.naviblock
      a.navlink(href='/Education') Education
    div.naviblock
      a.navlink(href='/Projects') Projects
    div.naviblock
      a.navlink(href='Certifications') Certifications
    div.naviblock
      a.navlink(href='WorkTimeline') Work Timeline