extends master.pug 
block title 
  title Home
block content 
  div.projects
    div.projectchart
      table
        thead
          tr
            th Project Name 
            th Quick Description 
            th Progress
        tbody 
          each project in list 
            tr.row
              td.projectname 
                a.projectname(href=`/Projects/${project.project}`) #{project.project}
              td #{project.synposis}
              td #{project.progress}